<div>
  <ul class="nav">
    <li id="home"><h1><a class="activeLink" href="#/" ng-class="{ active: isActive('/')}">Be Kiind</a></h1></li>
    <li id="logout" ng-click="FBlogout()" ng-if="out"><a>Logout</a></li>
    <li ng-if="explore"><a class="activeLink" ng-class="{ active: isActive('/explore')}" href="#explore"><i class="fa fa-globe fa-lg" aria-hidden="true"></i>
    </a></li>
    <li ng-if="feed"><a ng-class="{ active: isActive('/myFeed')}" class="activeLink" href="#myFeed"><i class="fa fa-list fa-lg" aria-hidden="true"></i></a></li>
    <li ng-if="likes"><a ng-class="{ active: isActive('/likes')}" class="activeLink" href="#likes"><i class="fa fa-heart fa-lg" aria-hidden="true"></i>
    </a></li>
    <li ng-if="in"><a class="activeLink" ng-class="{ active: isActive('/login')}" href="#login">Login</a></li>
  </ul>
</div>