<div class="center">
	<ul class="nav">
		<li><a class="activeLink" ng-class="{ active: isActive('/projects')}" href="#projects">Projects</a></li>
		<li><a class="activeLink" ng-class="{ active: isActive('/')}" href="#about">About</a></li>
	</ul>
	<img src="images/pineapples.png" width="100%" height="50%">
	<div id="info">
		<h1>Olivia Oddo</h1>
		<h3>Front-End Web Developer</h3> 
		<a id="downArrow" href="#aboutBack"><i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i></a>
		<!-- <li><a href="#two">Scroll to Section Two</a></li> -->
	</div>
	<div id="aboutBack">
		<div id="aboutRow" class="row">
			<a name="about"></a> 
			<div class="col-md-6">
				<img id="olivia" src="images/oliviaoddo.jpg" alt="Olivia Oddo" width="75%" height="75%">
			</div>
			<div class="col-md-6">
				<h2>About</h2>
				<p>Lorem ipsum dolor sit amet, id qui eripuit iudicabit. Est ea tation populo, ius quis deseruisse argumentum ea. Id mel dicta choro, nam ut saperet scribentur, detraxit honestatis quaerendum mei ea. Ea posse inciderint eos, quem latine et sea.<br><br>

				Per iuvaret sanctus feugait et, ad nibh brute vis, has ut ubique facete intellegat. Ad sit illud repudiandae reprehendunt, ius id munere vituperatoribus, id pri utinam altera nusquam. Quas numquam volumus his ut, pri dicam singulis id. Nisl sale graeci ius ut, laoreet accumsan officiis pri et. Legendos atomorum mediocrem per in, ei vis eirmod utroque accusamus. At consetetur signiferumque his, cu mea minimum albucius appellantur.</p>
				
			</div>
			<!-- <a id="resume" href="images/webResume.pdf" download>Resume <i class="fa fa-paperclip" aria-hidden="true"></i></a> -->
		</div>
	</div>
	<div class="row" id="skillsRow">
		<h2>Skills</h2>
		<div id="skills" class="row">
			<div class="col-md-3">
				<h4>HTML</h4>
				<h4>CSS</h4>
			</div>
			<div class="col-md-3">
				<h4>Javascript</h4>
				<h4>jQuery</h4>
			</div>
			<div class="col-md-3">
				<h4>Angular</h4>
				<h4>PHP</h4>
			</div>
			<div class="col-md-3">
				<h4>MySQL</h4>
				<h4>Wordpress</h4>
			</div>
		</div>
		<div id="resumeDiv">
			<a id="resume" href="images/webResume">Resume <i class="fa fa-paperclip" aria-hidden="true"></i></a>
		</div>
	</div>
	<footer id="contactRow" class="row">
		<h2>Contact</h2>
		<h4>Considering me for an open position or project? Or just want to have a chat?<br> Get a hold of me and let's talk!</h4>
		<div class="row" id="iconRow">
			<div class="col-md-4">
				<a href = "http://twitter.com/oliviaoddo"><i id= "twitter" style="color: #fff" class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-4">
				<a href = "http://facebook.com/oliviaoddo"><i style="color: #fff" class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-4">
				<a href = "http://facebook.com/oliviaoddo"><i style="color: #fff" class="fa fa-github fa-3x" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<a id= "contactMe" href="mailto:olivia.oddo@gmail.com" target="_top">Contact Me</a>
		</div>
		<p id="copyright">&copy; 2017 Olivia Oddo.</p>
	</footer>
</div>