<div class="center">
	<ul class="nav">
		<li><a class="notActive" href="#projects">Projects</a></li>
		<li><a class="active" href="#about">About</a></li>
	</ul>
	<img src="images/pineapples.jpg" width="100%" height="50%">
	<div id="info">
		<h1>Olivia Oddo</h1>
		<h3>Front-End Web Developer</h3> 
		<a id="downArrow" href="#aboutBack"><i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i></a>
		<!-- <li><a href="#two">Scroll to Section Two</a></li> -->
	</div>
	<div id="aboutBack">
		<div id="aboutRow" class="row">
			<a name="about"></a> 
			<div class="col-md-6">
				<img id="olivia" src="images/olivia.jpg" alt="Olivia Oddo" width="75%" height="75%">
			</div>
			<div class="col-md-6">
				<h2>About</h2>
				<p>Hey there! My name is Olivia, and I am a Film and Electronic Arts major at CSULB. I will be graduating in Fall 2017. I developed my basic programming skills through my computer science, and web technologies and aplications minors at CSULB.<br><br> I have a passion for web development, and I am eager to learn. In my free time, I teach myself front-end web development technologies, and work on projects for fun. Aside from learning new skills, I enjoy bike riding, coffee, trying new foods, exploring cities, and playing volleyball.</p>
				
			</div>
			<!-- <a id="resume" href="images/webResume.pdf" download>Resume <i class="fa fa-paperclip" aria-hidden="true"></i></a> -->
		</div>
	</div>
	<div class="row" id="skillsRow">
		<h2>Skills</h2>
		<div id="skills" class="row">
			<div class="col-md-3 col-xs-6">
				<h4>HTML5</h4>
				<h4>CSS3</h4>
			</div>
			<div class="col-md-3 col-xs-6">
				<h4>Javascript</h4>
				<h4>jQuery</h4>
			</div>
			<div class="col-md-3 col-xs-6">
				<h4>AngularJS</h4>
				<h4>PHP</h4>
			</div>
			<div class="col-md-3 col-xs-6">
				<h4>MySQL</h4>
				<h4>AJAX</h4>
			</div>
		</div>
		<div id="resumeDiv">
			<a id="resume" href="images/webResume">Resume <i class="fa fa-paperclip" aria-hidden="true"></i></a>
			<a id="resumeMobile" href='images/webResume.pdf' download>Resume <i class="fa fa-paperclip" aria-hidden="true"></i></a>
		</div>
	</div>
	<footer id="contactRow" class="row">
		<div id="contactDiv" class="col-xs-12">
			<h2>Contact</h2>
			<h4>Considering me for an open position or project? Or just want to have a chat?<br> Get a hold of me and let's talk!</h4>
		</div>
		<div class="row" id="iconRow">
			<div class="col-md-4 col-xs-4">
				<a target="_blank" href = "https://www.linkedin.com/in/olivia-oddo-085a33101"><i style="color: #fff" class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<a target="_blank" href = "https://twitter.com/oliviaoddo"><i style="color: #fff" class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<a target="_blank" href = "https://github.com/oliviaoddo"><i style="color: #fff" class="fa fa-github fa-3x" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<a id= "contactMe" href="mailto:olivia.oddo@gmail.com" target="_top">Contact Me</a>
		</div>
		<p id="copyright">&copy; 2017 Olivia Oddo.</p>
	</footer>
</div>