<div class="center">
	<ul class="projectNav">
		<li><a href="#about">About</a></li>
		<li><a href="#projects">Projects</a></li>
	</ul>
	<h2 id="projectHeading">Projects</h2>
	<div id="store" class="row">
		<div style="height: 100%;" class="col-md-6 col-sm-12">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vVdGr09KSBA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6 col-sm-12">
			<h2>Ecommerce Store <a target = "_blank" href = "https://github.com/oliviaoddo/ecommerceStore"><i style="color: #c85541" class="fa fa-github" aria-hidden="true"></i></a></h2>
			<h4>Description</h4>
			<p style="font-style: italic;">Lorem ipsum dolor sit amet, id qui eripuit iudicabit. Est ea tation populo, ius quis deseruisse argumentum ea. Id mel dicta choro, nam ut saperet scribentur.</p>
			<ul>
				<div class="col-md-6">
					<li>Javascript</li>
					<li>PHP</li>
					<li>AJAX</li>
					<li>jQuery</li>
				</div>
				<div class="col-md-6">
					<li>MySQL</li>
					<li>HTML</li>
					<li>CSS</li>
				</div>
			</ul>
		</div>
	</div>
	<div id="kind" class="row">
		<div style="height: 100%;" class="col-md-6 col-sm-12">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vVdGr09KSBA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6 col-sm-12">
			<h2>BeKiind <a target = "_blank" href = "https://github.com/oliviaoddo/dsn"><i style="color: #c85541" class="fa fa-github" aria-hidden="true"></i></a></h2>
			<h4>Description</h4>
			<p style="font-style: italic;">Lorem ipsum dolor sit amet, id qui eripuit iudicabit. Est ea tation populo, ius quis deseruisse argumentum ea. Id mel dicta choro, nam ut saperet scribentur.</p>
			<ul>
				<div class="col-md-6">
					<li>Javascript</li>
					<li>Angular</li>
					<li>Facebook API</li>
				</div>
				<div class="col-md-6">
					<li>HTML</li>
					<li>CSS</li>
				</div>
			</ul>
		</div>
	</div>
	<footer id="projectFooter">
	<div id="footerLinks">
	    <a href = "http://twitter.com/oliviaoddo"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
	    <a href = "http://facebook.com/oliviaoddo"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	    <a href = "http://facebook.com/oliviaoddo"><i class="fa fa-github" aria-hidden="true"></i></a>
	    <p style="color: #fff;">&copy; 2017 Olivia Oddo.</p>
    </div>
</footer>
</div>