<div class="center">
	<ul class="nav">
		<li><a class="active" href="#projects">Projects</a></li>
		<li><a class="notActive" href="#about">About</a></li>
	</ul>
	<h2 id="projectHeading">Projects</h2>
	<div id="store" class="row">
		<div style="height: 100%;" class="col-lg-6 col-md-12 col-sm-12">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vVdGr09KSBA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h2>Ecommerce Store <a target = "_blank" href = "https://github.com/oliviaoddo/ecommerceStore"><i style="color: #c85541" class="fa fa-github" aria-hidden="true"></i></a></h2>
			<h4>Description</h4>
			<p style="font-style: italic;">An online restaurant ordering system, that allows a user to filter menu items by nutritional facts, add items to the cart, and checkout.</p>
			<ul>
				<div class="col-md-6">
					<li>Javascript</li>
					<li>PHP</li>
					<li>AJAX</li>
					<li>jQuery</li>
				</div>
				<div class="col-md-6">
					<li>MySQL</li>
					<li>HTML5</li>
					<li>CSS3</li>
				</div>
			</ul>
		</div>
	</div>
	<div id="kind" class="row">
		<div style="height: 100%;" class="col-lg-6 col-md-12 col-sm-12">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vVdGr09KSBA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h2>BeKiind <a target = "_blank" href = "https://github.com/oliviaoddo/dsn"><i style="color: #c85541" class="fa fa-github" aria-hidden="true"></i></a></h2>
			<h4>Description</h4>
			<p style="font-style: italic;">Promotes a more positive community and helps to better oneself. A user is assigned a task to go out and accomplish. They upload a photo and share their experience. Users can like other posts, however likes and posts are all anonymous. <a href="bekiind.com">BeKiind.com</a></p>
			<ul>
				<div class="col-md-6">
					<li>Javascript</li>
					<li>AngularJS</li>
					<li>Facebook API</li>
				</div>
				<div class="col-md-6">
					<li>HTML</li>
					<li>CSS</li>
				</div>
			</ul>
		</div>
	</div>
	<div id="hair" class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<img class="responsiveImg" src="images/hair.jpg" alt="HairConnect">
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h2>Hair Connect <a target = "_blank" href = "https://github.com/oliviaoddo/dsn"><i style="color: #c85541" class="fa fa-github" aria-hidden="true"></i></a></h2>
			<h4>Description - completion date May 2017</h4>
			<p style="font-style: italic;">Salons and stylists can create profiles with their information such as reviews, photos, location, prices etc. Users can search for salons or stylists in their area, and can filter the results to meet their needs. Users can leave anonymous reviews.</p>
			<ul>
				<div class="col-md-4">
					<li>Javascript</li>
					<li>AngularJS</li>
					<li>Node.js</li>
				</div>
				<div class="col-md-4">
					<li>MongoDB</li>
					<li>Express</li>
					<li>Instagram API</li>
				</div>
				<div class="col-md-4">
					<li>Google Maps API</li>
					<li>HTML</li>
					<li>CSS</li>
				</div>
			</ul>
		</div>
	</div>
	<div id="amplified" class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<img class="responsiveImg" src="images/amplifiedVoices.png" alt="AmplifiedVoices">
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h2>Amplified Voices <a target = "_blank" href = "https://github.com/oliviaoddo/AmplifiedVoices"><i style="color: #c85541" class="fa fa-github" aria-hidden="true"></i></a></h2>
			<h4>Description</h4>
			<p style="font-style: italic;">Won thrid place in OpenAir's web accessibility challenge. Amplified Voices's website was rebuilt using Wordpress. A majority of W3C's web accessibility standards were implemented with CSS. <a target="_blank" style="color: #c85541" href="http://dirtysix.knowbility.org.php56-11.dfw3-2.websitetestlink.com/">Amplified Voices Link</a></p>
			<ul>
				<div class="col-md-4">
					<li>CSS</li>
					<li>Wordpress</li>
				</div>
			</ul>
		</div>
	</div>
	<footer id="projectFooter">
	<div id="footerLinks">
	    <a target="_blank" href = "https://www.linkedin.com/in/olivia-oddo-085a33101"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
	    <a target="_blank" href = "https://twitter.com/oliviaoddo"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	    <a target="_blank" href = "https://github.com/oliviaoddo"><i class="fa fa-github" aria-hidden="true"></i></a>
	    <p style="color: #fff;">&copy; 2017 Olivia Oddo.</p>
    </div>
</footer>
</div>